@charset "UTF-8";

:root{
    --cor01: rgb(52, 39, 126);
    --cor02: rgb(44, 23, 63);
}

body{
    background-color: rgb(44, 23, 63);
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: white;
}

#main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}

#main > a{
    display: flexbox;
    align-content: center;
    height: 18vh;
    width: 90vw;
    margin: 2vh auto;
    border: 0.5px rgba(255, 255, 255, 0.301) solid;
    border-radius: 15px;

    background-color: rgba(51, 49, 66, 0.267);
}

#main > a:hover{
    background-color: rgba(51, 49, 66, 0.562);
}


#main > a > h1{
    font-size: x-large;
}


#title{
    text-align: center;
    padding: 10px;
    background-color: rgb(52, 39, 126);
    font-weight: 800;
}

footer{
    font-size: small;
    color: rgba(255, 255, 255, 0.418);
    text-align: right;
    margin: 0px 10px 0px 0px;
}